<div
  id="modal"
  class="fixed hidden z-1 left-0 top-0 w-full h-full bg-gray-500/75 overflow-auto"
>
  <div
    id="modal-content"
    class="relative bg-red-50 rounded p-3 w-4/5 m-[10%]"
  >
    <button
      class="block absolute top-2 right-2 cursor-pointer"
      data-action="click-><%%= close_action %>"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
    <div id="modal-inner-content" class="flex justify-center">
    </div>
  </div>
</div>
